<head>
    <link rel="stylesheet" href="components/header.css">
</head>

<header class="header">
    <div class="header__item_left header__item_main">
        <div class="header__item"><a href="/" class="header__item-text" >Главная</a></div>
        <div class="header__item"><a href="/catalog" class="header__item-text">Каталог фильмов</a></div>
        <div class="header__item"><a href="/top" class="header__item-text" >Топ 250 фильмов</a>
        </div>
    </div>
    <div class="header__item_right header__item_main">
        <div class="header__item"><input class="header__item-input" type="text" placeholder="Найти фильм...">
        </div>
        <div class="header__item_circle"> <span class="header__item_circle-text">?</span></div>
        <div class="header__item"><button class="header__item-btn">Войти</button></div>
    </div>
</header>