<head>
    <link rel="stylesheet" href="components/header.css">
</head>

<header class="header">
    <div class="header__item_left header__item_main">
        <div class="header__item"><a href="/" class="header__item-text">Главная</a></div>
        <div class="header__item"><a href="/catalog" class="header__item-text">Каталог фильмов</a></div>
        <div class="header__item"><a href="/top" class="header__item-text">Топ 250 фильмов</a>
        </div>
    </div>
    <div class="header__item_right header__item_main">
        <div class="header__item">
            <div class="header__item-div">Найти фильм...</div>
        </div>

        <div class="header__item mini_cabinet"><img class="cabinet__avatar" src="" alt="avatar" srcset=""></div>
    </div>

    <div class="header__modal">
        <button class="header__modal-btn header__modal-login none">Войти</button>
        <div class="header__modal-z">
            <h2 class="header__modal-name">имя</h2>
            <span class="header__modal-span">юзер</span>
            <button class="header__modal-btn header__modal-cabinet none">В кабинет</button>
            <button class="header__modal-btn header__modal-leave">Выйти</button>
        </div>
    </div>
</header>

<script src="components/header.js"></script>