<!DOCTYPE html>
<html lang="en">

<head>
    {{>mainHead}}
    <title>Каталог фильмов</title>
    <link rel="stylesheet" href="css/catalog-page.css">

</head>

<body>
    <div class="app">
        {{>header}}
        <div class="filter">
            {{!-- <div class="genres">
                <div class="genres__item"><span>Жанры:</span></div>
                <div class="genres__catalog">
                    {{genre}}
                </div>

            </div> --}}
            {{!-- <div class="rangeYear">
                <span class="rangeYear__span">Диапазон выпуска</span>

                <div class="rangeYear__container">
                    <div class="rangeYear__item">
                        <span class="rangeYear__container-span ">С <span
                                class="rangeYear__container-span-from">2020</span> года</span>
                        <input class="rangeYear__container-input rangeYear__container-input-from" type="range" name=""
                            max="23" value="20">
                    </div>
                    <div class="rangeYear__item">
                        <span class="rangeYear__container-span ">По <span
                                class="rangeYear__container-span-to">2023</span> год</span>
                        <input class="rangeYear__container-input rangeYear__container-input-to" type="range" name=""
                            max="23" value="23">
                    </div>

                </div>

            </div> --}}

            <div class="sort">
                <span class="sort__span">Сортировать по: </span>
                <div class="sort-catalog">
                    {{sort}}

                </div>
                <div class="type">
                    <span class="type__span">Тип: </span>
                    <div class="type-catalog">
                        {{type}}

                    </div>
                </div>


                <div class="sort__check">
                    <div class="sort__input-container">
                        <input class="form-check-input" name="sort" type="radio" id="sort1" value="option1">
                        <label for="sort1">Возрастанию</label>
                    </div>
                    <div class="sort__input-container">
                        <input class="form-check-input" name="sort" type="radio" id="sort2" value="option1" checked>
                        <label for="sort2">Убыванию</label>
                    </div>


                </div>
            </div>
            <div class="send">
                <button class="send__button" role="button">Применить</button>
            </div>
        </div>
        <div class="card-catalog">

            {{#each docs}}

            {{>filmCard this}}

            {{/each}}
        </div>
        <footer class="footer">
       
                <div class="maxpages" style="display:none;">{{pages}}</div>
        </footer>
    </div>
    <script src="js/mini-card.js"></script>
    <script src="js/catalog.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>