{{#with .}}
<head>
    <link rel="stylesheet" href="components/film-card.css">
</head>

<a class="card" href="/film?id={{id}}">
    <img src="{{poster.url}}" class="card__poster" alt="" srcset="">
    <span class="card__name">{{name}}</span>
</a>

{{/with}}