<!DOCTYPE html>
<html lang="en">

<head>
    {{>mainHead}}
    <title>Поиск фильмов</title>
    <link rel="stylesheet" href="css/topFilm.css">
    <link rel="stylesheet"  href="css/catalog-page.css">
    <link rel="stylesheet"  href="css/search-page.css">
</head>

<body>
    <div class="app">
        {{>header}}

     <div class="search-catalog">
       
        <input type="text" value="lol" class="search search-input">
        <button class="btn">Найти</button>
        
     </div>

        <div class="card-catalog">


        </div>
    </div>
    <script src="js/mini-card.js"></script>
    <script src="js/search.js"></script>
</body>

</html>