<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Топ 250 фильмов </title>
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="css/topFilm.css">
    <link rel="stylesheet" href="fonts/font.css">

</head>

<body>
    <div class="app">
        {{>header}}
        <div class="card-catalog">

            {{#each docs}}

            {{>miniCardFilm this}}

            {{/each}}
        </div>
        <div class="pagination">

            <ul class="list-pages">
                {{pagination pages}}
            </ul>

        </div>

    </div>
    <script src="script.js"></script>
    <script src="js/mini-card.js"></script>
</body>

</html>