@font-face {
    font-family: Nautilus;
    src: url(./Nautilus.otf);
}
@font-face {
    font-family: Rounded-Sans;
    src: url(./Rounded-Sans-Serif.ttf);
}
@font-face {
    font-family:Await ;
    src: url(./Await.ttf);
}